.App {
  text-align: center;
  background-color: #bec3c6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "straight";
  src: local("straight"),
    url(../src/Assets/Fonts/straight.ttf) format("truetype");
}

@font-face {
  font-family: "fancy";
  src: local("fancy"), url(../src/Assets/Fonts/fancy.ttf) format("truetype");
}

@font-face {
  font-family: "cursive";
  src: local("cursive"), url(../src/Assets/Fonts/cursive.ttf) format("truetype");
}

@font-face {
  font-family: "big";
  src: local("big"), url(../src/Assets/Fonts/big.ttf) format("truetype");
}

@font-face {
  font-family: "bold";
  src: local("bold"), url(../src/Assets/Fonts/bold.ttf) format("truetype");
}
